body {
    font-family: 'Playfair Display', serif;
    background-color: #ececec;
    float: left;
    position: relative;
    width: 100%;
    color: #000;
    margin: 0;
    font-size: 16px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td {
    font-weight: 500;
    margin: 0;
    padding: 0;
    letter-spacing: 0.6;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.center-image {
    display: block;
    margin: auto;
    height: 50vh;
    width: 100%;
    object-fit: cover;

}



.quote-box {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #333;
    font-size: 18px;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
*, :after, :before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1025px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.animat {
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.datapage {
    background: url(../images/arches.png);
}
.comonSection {
    width: 100%;
    position: relative;
    padding: 35px 0;
    font-family: Cambria, Georgia, serif;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

section {
    display: block;
    unicode-bidi: isolate;
}
.datapage:before {
    position: absolute;
    content: "";
    background: rgb(255 255 255 / 15%);
    width: 100%;
    height: 100%;
    top: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
h5.section-title.h1 {
    color: #fd7435;
}
[data-aos][data-aos][data-aos-easing=linear], body[data-aos-easing=linear] [data-aos] {
    transition-timing-function: cubic-bezier(.25,.25,.75,.75);
}
[data-aos][data-aos][data-aos-duration="600"], body[data-aos-duration="600"] [data-aos] {
    transition-duration: .6s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform;
}
section .section-title {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    font-size: 32px;
    text-transform: uppercase;
}
[data-aos=fade-up] {
    transform: translate3d(0, 100px, 0);
}
.text-capitalize {
    text-transform: capitalize !important;
}
.text-center {
    text-align: center !important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}
.h1, h1 {
    font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.h5, h5 {
    font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.waterdata-dynamic {
    text-align: center;
    margin: 25px auto 0;
    display: table;
}
.waterdata-dynamic .firstwatercircle a:nth-child(1) {
    background: rgb(232 152 150 / 72%);
}
.waterdata-dynamic .firstwatercircle a {
    line-height: 190px;
}
.waterdata-dynamic a {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    color: #000;
    line-height: 200px;
    display: inline-block;
    background: #ffc800;
    text-decoration: none;
    font-size: 14px;
    word-break: break-all;
    transition: all 0.5s ease;
    border: 5px solid #fff;
}
a:not([href]) {
    color: inherit;
    text-decoration: none;
}
a, a:hover {
    text-decoration: none;
    outline: 0;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.waterdata-dynamic .firstwatercircle a:nth-child(2) {
    background: rgb(255 217 166 / 72%);
    z-index: 1;
    position: relative;
}
.waterdata-dynamic a:hover {
    transform: scale(1.1);
}
.waterdata-dynamic .firstwatercircle a {
    line-height: 190px;
}
.waterdata-dynamic a {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    color: #000;
    line-height: 200px;
    display: inline-block;
    background: #ffc800;
    text-decoration: none;
    font-size: 14px;
    word-break: break-all;
    transition: all 0.5s ease;
    border: 5px solid #fff;
}
a:not([href]) {
    color: inherit;
    text-decoration: none;
}
a, a:hover {
    text-decoration: none;
    outline: 0;
}
.waterdata-dynamic .firstwatercircle a:nth-child(3) {
    background: rgb(194 197 131 / 72%);
    position: relative;
    z-index: 3;
}
.secondwatercircle {
    position: relative;
    top: -70px;
    left: 90px;
}
.waterdata-dynamic .secondwatercircle a:nth-child(1) {
    background: rgb(232 174 149 / 72%);
}
.waterdata-dynamic .secondwatercircle a:nth-child(2) {
    background: rgb(232 219 152 / 72%);
    z-index: 2;
    position: relative;
}
.waterdata-dynamic .secondwatercircle a:nth-child(3) {
    background: rgb(204 228 154 / 72%);
    position: relative;
    z-index: 4;
}
.about-us figure {
    padding: 0 40px 40px 0;
    width: 450px;
    transition: all 0.5s ease;
    z-index: 1;
    position: relative;
}
.ml-5, .mx-5 {
    margin-left: 3rem !important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}
.float-right {
    float: right !important;
}
figure {
    margin: 0 0 1rem;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}
.about-us figure::before {
    right: 0;
    bottom: 0;
    top: 25px;
    left: 30px;
    position: absolute;
    content: "";
    border: 10px solid #fd7435;
}
.about-us figure img {
    position: relative;
    transition: all 0.5s ease;
}
img {
    max-width: 100%;
    -webkit-user-drag: none;
}
img {
    vertical-align: middle;
    border-style: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
h5.section-title.h1.text-left.mb-2.text-capitalize {
    font-size: 26px;
    color: #ff5e15;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
h5.section-title.h1 {
    color: #fd7435;
}
section .section-title {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    font-size: 32px;
    text-transform: uppercase;
}
[data-aos=fade-up] {
    transform: translate3d(0, 100px, 0);
}
.resentFontPanel {
    font-family: Cambria, Georgia, serif;
}
.welP {
    font-size: 16px;
    text-align: justify !important;
    line-height: 30px;
    letter-spacing: 0;
}
.text-left {
    text-align: left !important;
}
p {
    margin: 0 0 10px;
}
p, ul li {
    font-size: 16px;
    letter-spacing: .6px;
    font-weight: 500;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
ul, ol, dl {
    padding-left: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.orange_arrow li {
    position: relative;
    padding: 10px 0 10px 15px;
    text-align: justify !important;
}
.resentFontPanel {
    font-family: Cambria, Georgia, serif;
}
ul li {
    list-style-type: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.orange_arrow li:after {
    content: '\f061';
    font-family: FontAwesome;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 13px;
    color: #ff5e15;
}
.groundwaterBG {
    background: -webkit-linear-gradient(rgba(0, 11, 51, 0.72), rgba(0, 11, 51, 0.72)), url(../images/groundwaterbg.jpg);
    background-size: cover;
    color: #fff;
    width: 100%;
    position: relative;
    padding: 55px 0 35px 0;
    background-attachment: fixed;
    text-align: center;
    clear: both;
}
h5.section-title.h1.text-left.mb-2.text-capitalize {
    font-size: 26px;
    color: #ff5e15;
}
h5.section-title.h1 {
    color: #fd7435;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.resentFontPanel {
    font-family: Cambria, Georgia, serif;
}
.welP {
    font-size: 16px;
    text-align: justify !important;
    line-height: 30px;
    letter-spacing: 0;
}
.orange_arrow li {
    position: relative;
    padding: 10px 0 10px 15px;
    text-align: justify !important;
}
.resentFontPanel {
    font-family: Cambria, Georgia, serif;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.orange_arrow li:after {
    content: '\f061';
    font-family: FontAwesome;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 13px;
    color: #ff5e15;
}
.white {
    padding: 35px 0;
    background-color: #fff;
}
h5.section-title.h1.text-left.mb-2.text-capitalize {
    font-size: 26px;
    color: #ff5e15;
}
h5.section-title.h1 {
    color: #fd7435;
}
.white h5 {
    font-size: 26px;
    color: #ff5e15;
}
.datapage {
    background: url(../images/arches.png);
}
.datapage:before {
    position: absolute;
    content: "";
    background: rgb(255 255 255 / 15%);
    width: 100%;
    height: 100%;
    top: 0;
}












injected stylesheet
:host, :root {
    --rem: 16;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}